{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><a href="https://www.public.nm.eurocontrol.int/PUBPORTAL/gateway/spec/"
                    target="_blank">Shortcut to NOP</a></legend>
            <div class="form-group">
                {{ form.rawdata.label(class="form-control-label") }}
                {% if form.rawdata.errors %}
                {{ form.rawdata(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.rawdata.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.rawdata(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.countryicaocode.label(class="form-control-label") }}
                {% if form.countryicaocode.errors %}
                {{ form.countryicaocode(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.countryicaocode.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.countryicaocode(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-check">
                {{ form.shortareaname(class="form-check-input") }}
                {{ form.shortareaname.label(class="form-check-label") }}
            </div>
            <div class="form-check">
                {{ form.usertextoutput(class="form-check-input") }}
                {{ form.usertextoutput.label(class="form-check-label") }}
            </div>
            <div class="form-check indent">
                {{ form.sflcalculation(class="form-check-input") }}
                {{ form.sflcalculation.label(class="form-check-label") }}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}